{% extends 'website/base.html' %}
{% load bootstrap i18n thumbnail %}
{% block title %}{% trans "Settings" %}{% endblock %}
{% block content %}
{% trans "Settings" as form_title %}
{% trans "Update" as submit_text %}
{% include "website/includes/standard_form.html" with form_title=form_title submit_text=submit_text form_id="user_settings" %}
<h3>{% trans "Profile picture" %}</h3>
{% if request.user.profile.profile_picture %}
    <div>
        {% thumbnail request.user.profile.profile_picture "300x300" crop="center" as im %}
            <img class="border rounded" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    </div>
{% endif %}
<div class="top15">
    <a href="{% url "profile_picture" %}"><button type="button" class="btn btn-success">{% trans "Upload profile picture" %}</button></a>
</div>
<h3 class="top15">{% trans "Skills" %}</h3>
{% include "website/includes/skill_table.html" %}
<div class="top15">
    <a href="{% url "edit_skills" %}"><button type="button" class="btn btn-success">{% trans "Edit skills" %}</button></a>
</div>
<h3 class="top15">{% trans "Needs" %}</h3>
{% include "website/includes/need_table.html" %}
<div class="top15">
    <a href="{% url "edit_needs" %}"><button type="button" class="btn btn-success">{% trans "Edit needs" %}</button></a>
</div>
{% endblock %}