Django==1.11
django-annoying==0.10.4
django-appconf==1.0.2
django-autoslug-iplweb==1.9.4.dev0
django-bootstrap-form==3.4
django-countries==5.3.1
django-enumfields==0.10.1
django-model-utils==3.1.2
djangorestframework==3.8.2
enum34==1.1.6
MySQL-python==1.2.5
Pillow==5.2.0
progressbar2==3.38.0
python-utils==2.3.0
pytz==2018.5
six==1.11.0
sorl-thumbnail==12.4.1
swapper==1.1.0
tqdm==4.24.0
typing==3.6.4
Unidecode==1.0.22
